# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
nba_1819 = pd.read_csv('nbastats2018-2019.csv')
nba_1819.columns

# most_points = nba_1819['PTS'].max()
# player_with_most_points = nba_1819.loc[nba_1819['Points'] == most_points, 'Player'].values[0]

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')

# What player scored the most points?

In [31]:
# nba_1819.sort_values(by = "Points", ascending = False


most_points = nba_1819['Points'].max()
player_with_most_points = nba_1819.loc[nba_1819['Points'] == most_points, 'Name'].values[0]

player_with_most_points

'James Harden'

# What player had the most blocks during the season? Was it a post player (F/C)?

In [32]:
nba_1819.sort_values(by = 'Blocks', ascending = False)

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
476,Myles Turner,83,250,Indiana Pacers,22,3410284,13.3,2.7,0.8,1.6,...,28.6,74,18.0,1.9,4.4,6.3,0.144,20.0,3.3,2.8
123,Anthony Davis,82,253,New Orleans Pelicans,25,25434263,25.9,2.4,1.6,3.9,...,33.0,56,30.3,6.4,3.1,9.5,0.247,29.5,8.5,4.9
419,Mitchell Robinson,85,240,New York Knicks,20,1485440,7.3,2.4,0.8,0.6,...,20.6,66,22.0,4.0,2.2,6.1,0.217,12.1,5.7,2.7
183,Rudy Gobert,85,245,Utah Jazz,26,23241573,15.9,2.3,0.8,2.0,...,31.8,81,24.6,8.7,5.7,14.4,0.268,17.8,7.0,5.9
303,Brook Lopez,84,270,Milwaukee Bucks,30,3382000,12.5,2.2,0.6,1.2,...,28.7,81,14.6,2.3,4.3,6.7,0.138,16.7,2.7,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,Duncan Robinson,80,210,NaN,24,-,3.3,0.0,0.3,0.3,...,10.7,15,7.6,0.0,0.2,0.2,0.051,14.0,-4.2,-0.1
413,Malachi Richardson,78,205,Philadelphia 76ers,23,1569360,1.4,0.0,0.0,0.0,...,4.7,22,0.9,-0.2,0.1,-0.1,-0.060,16.4,-10.8,-0.2
410,Davon Reed,77,208,Phoenix Suns,23,1378242,1.2,0.0,0.1,0.3,...,4.7,10,8.1,0.0,0.0,0.1,0.064,12.1,-4.2,0.0
259,B.J. Johnson,79,200,Atlanta Hawks,23,94742,3.3,0.0,0.3,0.0,...,7.0,7,12.8,0.0,0.0,0.1,0.066,17.4,-8.5,-0.1
147,Trevon Duval,74,189,NaN,20,-,1.7,0.0,0.0,0.7,...,2.0,3,38.3,0.1,0.0,0.1,0.537,20.9,9.7,0.0

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [51]:
win_pct = df.groupby('Team')['FG%'].max()
best_chance = win_pct.idxmax()
best_chance

'Atlanta Hawks'

# What player had the best 3-pt percentage?

In [44]:
best_3pt = df.groupby('Name')['FG3%'].max()
player = best_3pt.idxmax()
player

'Eric Moreland'

# Who played the most minutes during the season

In [41]:
nba_1819['total_min'] = nba_1819['MP'] * nba_1819['G']

nba_1819[['Name', 'total_min', 'MP', 'G']].sort_values(by = 'total_min', ascending = False)

               Name  total_min    MP   G
37     Bradley Beal     3025.8  36.9  82
202    James Harden     2870.4  36.8  78
486    Kemba Walker     2861.8  34.9  82
208   Tobias Harris     2845.4  34.7  82
179     Paul George     2841.3  36.9  77
..              ...        ...   ...  ..
268  Terrence Jones        5.0   2.5   2
439   Jordan Sibert        4.0   4.0   1
192  Donte Grantham        2.1   0.7   3
442    Kobi Simmons        2.0   2.0   1
405         Zhou Qi        1.0   1.0   1

[521 rows x 4 columns]

# What player given their player effiecency rating was the clutchest during the season?

In [46]:
max_per = df['PER'].max()
player_clutch = df.loc[df['PER'] == max_per, 'Name'].iloc[0]
player_clutch

'Zhou Qi'

# What team had the youngest roster?

In [48]:
youngest = df.groupby('Team')['Age'].min()
team_youngest = youngest.idxmin()
team_youngest

'Brooklyn Nets'

# Who is the highest paid player during the seasion?

In [52]:
max_salary = df['Salary'].max()
most_paid_player = df.loc[df['Salary'] == max_salary, 'Name'].iloc[0]
most_paid_player

'John Jenkins'

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [50]:
# lowest_percent = nba_1819[nba_1819['FT%'] == 0]
# lowest_average = nba_1819[nba_1819['FTA'] < 1]

# low_score = lowest_percent.merge(lowest_average, on = 'Name', how = 'inner')
# low_score

bad_free_throws = df['FT%'].min()
lowest_FT = df.loc[df['FT%'] == bad_free_throws, 'Name'].iloc[0]
lowest_FT

'Jacob Evans'